YALE/CPIA
YALE/CPIQ
YALE/JPN_CONF_INDEX_1YR
YALE/JPN_CONF_INDEX_BUY
YALE/JPN_CONF_INDEX_CRASH
YALE/JPN_CONF_INDEX_VAL
YALE/NHPI
YALE/RBCI
YALE/RHPI
YALE/SP_10YRE
YALE/SP_1YIR
YALE/SPCOMP
YALE/SP_CPI
YALE/SP_DAI
YALE/SP_EAI
YALE/SP_LOBY
YALE/SP_PER10Y
YALE/SP_PER1Y
YALE/SP_PVRDD
YALE/SP_PVRDR
YALE/SP_R1YIR
YALE/SP_RDSPD
YALE/SP_REE
YALE/SP_RPCC
YALE/SP_RPSP
YALE/SP_RSPC
YALE/SP_SPCI
YALE/US_CONF_INDEX_1YR_INDIV
YALE/US_CONF_INDEX_1YR_INST
YALE/US_CONF_INDEX_BUY_INDIV
YALE/US_CONF_INDEX_BUY_INST
YALE/US_CONF_INDEX_CRASH_INDIV
YALE/US_CONF_INDEX_CRASH_INST
YALE/US_CONF_INDEX_VAL_INDIV
YALE/US_CONF_INDEX_VAL_INST
NAHB/FPID
NAHB/FVID
NAHB/HOI
NAHB/HOUSEACT
NAHB/HOUSING_GDP
NAHB/INTRATES
NAHB/LUMBER
NAHB/MFPID
NAHB/MFPI_EPNC
NAHB/MFPI_PNACP
NAHB/MFVID
NAHB/MFVI_EVNC
NAHB/MFVI_RVCP
NAHB/NWFHMI
NAHB/NWFHMI_NSM
NAHB/NWFHMI_SFD
NAHB/NWFHMI_TPB
NAHB/NWFRMI
RICI/RICI
RICI/RICIE
RICI/RICIM
RICI/RICIA
ML/AAAEY
ML/AAATRI
ML/AAOAS
ML/AATRI
ML/AAY
ML/AEY
ML/ATRI
ML/BBBEY
ML/BBBTRI
ML/BBTRI
ML/BBY
ML/BEY
ML/BOAS
ML/BTRI
ML/CCCTRI
ML/CCCY
ML/EEMCBI
ML/EMCBI
ML/EMCTRI
ML/EMHG
ML/EMHGY
ML/EMHYY
ML/HYOAS
ML/IGEM
ML/TRI
ML/USEY
ML/USTRI
MULTPL/SHILLER_PE_RATIO_MONTH
MULTPL/SHILLER_PE_RATIO_YEAR
MULTPL/SP500_BVPS_QUARTER
MULTPL/SP500_BVPS_YEAR
MULTPL/SP500_DIV_GROWTH_QUARTER
MULTPL/SP500_DIV_GROWTH_YEAR
MULTPL/SP500_DIV_MONTH
MULTPL/SP500_DIV_YEAR
MULTPL/SP500_DIV_YIELD_MONTH
MULTPL/SP500_DIV_YIELD_YEAR
MULTPL/SP500_EARNINGS_GROWTH_QUARTER
MULTPL/SP500_EARNINGS_GROWTH_YEAR
MULTPL/SP500_EARNINGS_MONTH
MULTPL/SP500_EARNINGS_YEAR
MULTPL/SP500_EARNINGS_YIELD_MONTH
MULTPL/SP500_EARNINGS_YIELD_YEAR
MULTPL/SP500_INFLADJ_MONTH
MULTPL/SP500_INFLADJ_YEAR
MULTPL/SP500_PBV_RATIO_QUARTER
MULTPL/SP500_PBV_RATIO_YEAR
MULTPL/SP500_PE_RATIO_MONTH
MULTPL/SP500_PE_RATIO_YEAR
MULTPL/SP500_PSR_QUARTER
MULTPL/SP500_PSR_YEAR
MULTPL/SP500_REAL_EARNINGS_GROWTH_QUARTER
MULTPL/SP500_REAL_EARNINGS_GROWTH_YEAR
MULTPL/SP500_REAL_PRICE_MONTH
MULTPL/SP500_REAL_PRICE_YEAR
MULTPL/SP500_REAL_SALES_GROWTH_QUARTER
MULTPL/SP500_REAL_SALES_GROWTH_YEAR
MULTPL/SP500_REAL_SALES_QUARTER
MULTPL/SP500_REAL_SALES_YEAR
MULTPL/SP500_SALES_GROWTH_QUARTER
MULTPL/SP500_SALES_GROWTH_YEAR
MULTPL/SP500_SALES_QUARTER
MULTPL/SP500_SALES_YEAR